$c-main: blue;
$b-main: rgb(241, 235, 235);
$w-main: white;
$b-color: black;

* {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    color: $c-main;
    font-size: 24px;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

header,
section {
    max-width: 100%;
    background-color: $b-main;
    margin: 0 auto;
}

header {
    height: 100vh;
    h1 {
        font-size: 36px;
    }
    padding-top: 10px;
    background-color: $b-main;
    .logo {
        margin-top: 1rem;
    }
    .nav__center,
    .nav__menu {
        display: flex;
        justify-content: space-between;
    }
    span{
        .num{
            color: red;
        }
    }
    .nav__list {
        display: flex;
        width: 70%;
    }

    .nav__item {
        margin: 1rem;
    }
    .nav__item:last-child {
        margin-right: 3rem;
    }

    .hero {
        height: 100%;
    }

    .hero__center {
        display: flex;
        height: 100%;
    }

    .hero__left {
        flex: 1 1 40;
        margin-top: 8rem;
        h1 {
            font-size: 36px;
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 3rem;
        }
        .button {
            padding: 0.5rem;
            color: $b-main;
            background-color: $c-main;
        }
    }
    .hero__right {
        flex: 1 1 40;
        margin: 2rem 0 0 1.5rem;
        img {
            width: 500px;
        }
        .go-down {
            position: absolute;
            left: 90%;
        }
    }
}

.goods {
    min-height: 600px;
    height: 100%;
    background-color: $w-main;
    .title {
        margin: 2rem;
        h1 {
            text-align: center;
            font-size: 32px;
        }
    }
    .goods-center {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: 2rem 2rem;
        justify-content: center;
        text-align: center;
        padding-bottom: 2rem;
        .goods-card {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .goods__img {
                img {
                    width: 90%;
                }
            }
            .goods__main {
                margin: auto;
                h4 {
                    margin: 0.3rem;
                }
                button {
                    border: none;
                    background-color: $c-main;
                    color: $b-main;
                    padding: 0.3rem;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

.contact {
    background-color: $c-main;
    padding: 1.5rem 0;
    h2 {
        text-align: center;
        color: $b-main;
        font-size: 28px;
    }
    .contact-form {
        input[type="text"],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid $w-main;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 8px;
            resize: vertical;
        }

        input[type="submit"] {
            background-color: $w-main;
            color: $c-main;
            padding: 6px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: lightblue;
        }
    }
}

footer {
    background-color: $b-main;
    padding: 1rem;
    .socialmedia-and-copyright {
        display: flex;
        flex-wrap: wrap;
        img {
            width: 3%;
        }
        .social {
            flex: 1;
        }
        .copyright {
            margin-right: 2rem;
        }
    }
    .go-up {
        position: absolute;
        right: 5%;
    }
}

.flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    height: 15vh;
}

.main-cart{
    justify-content: space-around;
    margin-top: 1rem;
    background-color: $w-main;
    .cart-title{
        margin-bottom: 2rem;
        font-size: 32px;
    }
    .product-header{
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        border-bottom: 4px solid $c-main;
    }
}